.todo-counter-text {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 40px;

	span {
		font-weight: 700;
	}
}
